.bg_dark{
    background-color: #24231f !important;
}
.bg_search_dark {

    background-color: #22231e !important;
}
.text-dark{
    color: #e1e1e1;
}
.card_dark{
    background-color: #1a1917 !important;
}